<div class="container" style="padding: 1em">
  <h4><a class="nav-link" style="color: black; padding: 0em;" [routerLink]="['/']">Proposta de Crédito</a></h4>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/solicitar']">Solicitar<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/consultar']">Consultar</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container" style="padding: 1em">
  <router-outlet></router-outlet>
</div>